body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    /* width: 100vw; */
    background: #F8FAFC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    
}

.wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 650px;
    width: 100%;
    gap: 35px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: #000000;
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 45px;
    max-width: 650px;
    width: 100%;
}

img {
    border-radius: 25px;
}

article {
    display: flex;
    gap: 50px;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

p {
    font-weight: 500;
    color: #6C727F;
}

@media (max-width: 700px) {
    article {
        gap: 20px;
    }
}